<body [class]="authService.classThemeSig()">
    <header>
        <mat-toolbar class="toolbar" color="primary">
            <mat-icon routerLink="/">view_kanban</mat-icon >
            <p class="name">Kanban Board</p>
            @if (authService.currentUserSig()) {
                <p (click)="logout()" matTooltip="exit your account" style="font-size: 12px"> {{ userName }} 
                <mat-icon>exit_to_app</mat-icon>
            </p>
            }
            @if (authService.currentUserSig() == null) {
                <p>Login or register</p>
            }
           <mat-slide-toggle matTooltip="Toggle theme" class="custom-slide-toggle" color="warn" (change)="toggleTheme($event)">
                <!-- <span id="dark">Тёмный режим</span> -->
                <i class="material-icons">lightbulb_outline</i>
            </mat-slide-toggle>
        </mat-toolbar>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
</body>