<body [class]="class">
    <header>
        <mat-toolbar class="toolbar" color="primary">
            <mat-icon routerLink="/">view_kanban</mat-icon >
            <p class="name">Kanban Board</p>
            <mat-slide-toggle class="custom-slide-toggle" color="warn" (change)="toggleTheme($event)">
                <!-- <span id="dark">Тёмный режим</span> -->
                <i class="material-icons">lightbulb_outline</i>
            </mat-slide-toggle>
        </mat-toolbar>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
</body>