<body [class]="authService.classThemeSig()">
    <header>
        <mat-toolbar class="toolbar" color="primary">
            <mat-icon routerLink="/">view_kanban</mat-icon >
            <p class="name" routerLink="/board">Kanban Board</p>
            @if (authService.currentUserSig()) {
                <div class="user-info" (click)="logout()" matTooltip="exit your account">
                    <p style="font-size: 12px"> {{ userName }} </p>
                    <mat-icon>exit_to_app</mat-icon>
                </div>
            }
            @if (authService.currentUserSig() == null) {
                <p routerLink="/login">Login or register</p>
            }
           <mat-slide-toggle matTooltip="Toggle theme" class="custom-slide-toggle" color="warn" (change)="toggleTheme($event)">
                <i class="material-icons">lightbulb_outline</i>
            </mat-slide-toggle>
        </mat-toolbar>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
</body>