<div class="content-wrapper">
  <button class="addTask" (click)="newTask()" mat-raised-button color="primary">
    <mat-icon>add</mat-icon> Add Task
  </button>


  <div class="container-wrapper">
    <div class="container">
      <h2>Backlog</h2>

      <mat-card
        cdkDropList
        id="todo"
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        @for (task of todo; track task.title) {
            <app-task (edit)="editTask('todo', $event)" class="task" cdkDrag [task]="task"></app-task>
        } @empty {
            <p class="empty-label">Empty list</p>
        }
      </mat-card>
    </div>

    <div class="container">
      <h2>In progress</h2>

      <mat-card
        cdkDropList
        id="inProgress"
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress"
        [cdkDropListConnectedTo]="[todoList, doneList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        @for (task of inProgress; track task.title) {
            <app-task (edit)="editTask('inProgress', $event)" class="task" cdkDrag [task]="task"></app-task>
        } @empty {
            <p class="empty-label">Empty list</p>
        }
      </mat-card>
    </div>

    <div class="container">
      <h2>Done</h2>

      <mat-card
        cdkDropList
        id="done"
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList, inProgressList]"
        (cdkDropListDropped)="(drop($event))"
        class="list">
        @for (task of done; track task.title) {
            <app-task (edit)="editTask('done', $event)" class="task" cdkDrag [task]="task"></app-task>
        } @empty {
            <p class="empty-label">Empty list</p>
        }
      </mat-card>
    </div>
  </div>
</div>